In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from keras.layers import Dense
from keras.models import Sequential
from keras.callbacks import EarlyStopping
import keras

In [2]:
stocks = pd.read_csv('stock_data.csv')

In [3]:
stocks.head()

         Date     Open     High      Low    Close    Volume  OpenInt Stock
0  1984-09-07  0.42388  0.42902  0.41874  0.42388  23220030        0  AAPL
1  1984-09-10  0.42388  0.42516  0.41366  0.42134  18022532        0  AAPL
2  1984-09-11  0.42516  0.43668  0.42516  0.42902  42498199        0  AAPL
3  1984-09-12  0.42902  0.43157  0.41618  0.41618  37125801        0  AAPL
4  1984-09-13  0.43927  0.44052  0.43927  0.43927  57822062        0  AAPL

In [4]:
stocks['Stock'].value_counts()

AAPL    8364
MSFT    7983
TSLA    1858
FB      1381
Name: Stock, dtype: int64

In [5]:
msft = stocks[['Date','Open']][stocks['Stock']=='MSFT']

In [6]:
x = []
y = []
for i in range(100, len(msft)):
    x.append(msft['Open'].values[i-100:i])
    y.append(msft['Open'].values[i])
x = np.array(x)
y = np.array(y)

In [7]:
x.shape

(7883, 100)

In [8]:
x = np.reshape(x,(x.shape[0],x.shape[1],1))

In [9]:
x.shape

(7883, 100, 1)

In [10]:
x

array([[[6.7200e-02],
        [7.5330e-02],
        [7.5330e-02],
        ...,
        [7.5330e-02],
        [7.5330e-02],
        [7.5330e-02]],

       [[7.5330e-02],
        [7.5330e-02],
        [7.5330e-02],
        ...,
        [7.5330e-02],
        [7.5330e-02],
        [7.5330e-02]],

       [[7.5330e-02],
        [7.5330e-02],
        [7.5330e-02],
        ...,
        [7.5330e-02],
        [7.5330e-02],
        [7.5330e-02]],

       ...,

       [[7.0126e+01],
        [7.0445e+01],
        [6.9838e+01],
        ...,
        [8.4080e+01],
        [8.4200e+01],
        [8.4770e+01]],

       [[7.0445e+01],
        [6.9838e+01],
        [7.0166e+01],
        ...,
        [8.4200e+01],
        [8.4770e+01],
        [8.4140e+01]],

       [[6.9838e+01],
        [7.0166e+01],
        [6.9719e+01],
        ...,
        [8.4770e+01],
        [8.4140e+01],
        [8.4110e+01]]])

In [11]:
len(x)

7883

In [12]:
y

array([7.533e-02, 7.533e-02, 7.533e-02, ..., 8.414e+01, 8.411e+01,
       8.379e+01])

In [13]:
from keras.layers import LSTM

In [14]:
model = Sequential()
model.add(LSTM(units=200, return_sequences=True, input_shape=(100,1)))
model.add(LSTM(units=200, return_sequences=True))
model.add(LSTM(units=200, return_sequences=True))
model.add(LSTM(units=200, return_sequences=True))
model.add(LSTM(units=200, return_sequences=True))
model.add(LSTM(units=200))
model.add(Dense(units=1))
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae','accuracy'])

In [15]:
model.fit(x,y, epochs=10, batch_size=50)

Epoch 1/10
158/158 [==============================] - 324s 2s/step - loss: 187.5312 - mae: 8.1282 - accuracy: 0.0000e+00
Epoch 2/10
158/158 [==============================] - 296s 2s/step - loss: 70.9013 - mae: 4.4870 - accuracy: 0.0000e+00
Epoch 3/10
158/158 [==============================] - 311s 2s/step - loss: 23.2237 - mae: 2.6614 - accuracy: 0.0000e+00
Epoch 4/10
158/158 [==============================] - 323s 2s/step - loss: 12.7110 - mae: 2.0090 - accuracy: 0.0000e+00
Epoch 5/10
158/158 [==============================] - 337s 2s/step - loss: 9.8742 - mae: 1.8767 - accuracy: 0.0000e+00
Epoch 6/10
158/158 [==============================] - 340s 2s/step - loss: 4.9162 - mae: 1.4317 - accuracy: 0.0000e+00
Epoch 7/10
158/158 [==============================] - 365s 2s/step - loss: 4.9242 - mae: 1.2890 - accuracy: 0.0000e+00
Epoch 8/10
158/158 [==============================] - 380s 2s/step - loss: 3.2074 - mae: 1.0534 - accuracy: 0.0000e+00
Epoch 9/10
158/158 [==============================] - 320s 2s/step - loss: 2.8985 - mae: 1.0176 - accuracy: 0.0000e+00
Epoch 10/10
158/158 [==============================] - 315s 2s/step - loss: 2.4797 - mae: 0.9542 - accuracy: 0.0000e+00